################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dapr.state.service/bin/Debug/net6.0
/dapr.state.service/.vs
/dapr.state.service/obj
/deployments/.vs
/dapr.state.console/.vs
/dapr.state.console/obj
*.user
/dapr.state.console/bin/Debug/net6.0
/dapr.state.console/daprd-logs.txt
/dapr.state.console/logs-console.txt
